button {
    background-color: var(--light-color);
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.42);
    cursor: pointer;
}

button svg {
    fill: var(--dark-color);
}

.dark-theme button {
    background-color: var(--dark-secondary-color);
}

.dark-theme button svg {
    fill: var(--light-color);
}



