article {
    transition: all 0.5s ease-in-out;
    width: 240px;
    height: 300px;
    /* border: 1px solid #aaa; */
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.42);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.dark-theme article {
    background-color: var(--dark-secondary-color);
}

article:hover {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.42);
}

h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 5em;
    background-color: var(--emojiColor);
    padding: 0.2em 0;
    border-radius: 10px 10px 0 0;

}

@-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    30% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    }
    30% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

h4 > span {
    width: fit-content;
    display: block;
    transition: all .5s ease-in-out;
}

h4 > span:hover {
    font-size: 1.05em;
    -webkit-animation: rotate 1s ease-in-out both;
    animation: rotate 1s ease-in-out both;
}

code {
    width: 200px;
    margin-top: 1.3em;
    padding-bottom: 0.2em;
    text-align: center;
    font-size: 1.25em;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

article:hover > code {
    text-decoration: underline;
    text-decoration-color: var(--emojiColor);
    text-decoration-thickness: 0.3rem;
}

p {
    text-align: center;
    color: #777;
}