.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.42);
    /* padding: 1.5em; */
    padding: 0 1.5em;
    border-radius: 10px;
    max-width: 800px;
    border: none;
}

.dark-theme .searchbar {
    background-color: var(--dark-secondary-color);
}

.searchbar-left-element {
    display: flex;
    align-items: center;
}

.searchbar input {
    transition: all .5s ease-in-out;
    margin: 0 10px;
    font-family: "Poppins";
    border-radius: 10px;
    width: 600px;
    padding: 2em;
    border: none;
}
.dark-theme .searchbar input{
    background-color: var(--dark-secondary-color);
    color: var(--light-secondary-color)
}

.searchbar input:focus {
    outline: none;
}

.searchbar-focus {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.42);
}

.dark-theme svg {
    fill: var(--light-color)
}

kbd {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
    white-space: nowrap;
}

.dark-theme kbd {
    background-color: #222222; 
    border: 1px solid #2c2c2c;
    color: var(--light-secondary-color);
    box-shadow: none;
}

@media screen and (max-width: 1155px) {
    .searchbar {
        margin: 0 2em;
        width: 100%;
    }

    .searchbar-left-element {
        width: 100%;
    }

    .searchbar input {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    kbd {
        display: none;
    }
}